* {
  margin: 0;
  padding: 0;
  font-family: "Sofia Sans", sans-serif;
  overflow-x: hidden;
}

body {
  position: relative;
}

main {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./images/portfolio.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

button {
  cursor: pointer;
}

.landingPageBackground {
  height: 90vh;
  width: 100vw;
  background-image: url(images/landingPage.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  z-index: +1;
}

nav {
  width: 100vw;
  height: 7rem;
  display: flex;
  z-index: +1;
}

nav img {
  width: 7rem;
  height: 7rem;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: right;
  width: 100vw;
}

ul,
ul a {
  text-decoration: none;
  color: #fff;
}

ul {
  margin: 1rem;
}

a {
  cursor: pointer;
}

a button {
  background: none;
  border: 2px #fff solid;
  border-radius: 1.5rem;
  padding: 0.5rem;
  color: #fff;
  font-size: 2rem;
  transition: all ease-in-out 200ms;
}

a button:hover {
  background-color: #fff;
  color: #000;
}

.container {
  background-color: #00321e;
  z-index: +1;
}

.landingPageHeader {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  z-index: +1;
}

h1 {
  color: #fff;
  font-size: 6rem;
}

.landingPageHeader p {
  color: #fff;
  font-size: 2rem;
}

.lineBreak {
  background-color: #00321e;
  width: 100vw;
  height: 20vh;
  transform: rotate(10deg);
  position: absolute;
  bottom: 0;
  z-index: +1;
}

.aboutMe {
  height: 70vh;
  width: 100vw;
  background-color: #00321e;
  color: #fff;
  font-size: 2rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  z-index: +1;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.aboutMe p {
  width: 40vw;
}

.aboutMe img {
  width: 40vw;
  height: 45vh;
  border-radius: 2rem;
}

.portfolio {
  height: 60vh;
  width: 100vw;
}

.project {
  height: 80vh;
  width: 100vw;
  background-color: #00321e;
}

.project h2 {
  margin: 1rem 0 1rem 10rem;
  color: #fff;
  font-size: 6rem;
}

.projectContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.projectCard {
  width: 18rem;
  height: 60vh;
  background-color: #fff;
  margin: 1rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #000;
}

.projectCardDown button {
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(36, 28, 28);
  color: #fff;
  margin: 0.5rem;
  width: 8rem;
  height: 2rem;
  font-size: 1.2rem;
}

.projectCard p {
  color: #000;
  font-size: 1.3rem;
}

.projectCardDown {
  margin: 1rem;
}

.projectCard h3 {
  font-size: 1.7rem;
}

.projectCardDown div {
  display: flex;
  margin-top: 3.5rem;
}

.projectCardDown div p {
  color: rgb(173, 173, 173);
}

.projectCardImage {
  width: 15.5rem;
  height: 15vh;
  background-image: url(./images/tictactoe.png);
  background-size: cover;
}

.projectCardImage1 {
  width: 15.5rem;
  height: 15vh;
  background-image: url(./images/projectp2.png);
  background-size: cover;
}

.projectCardImage2 {
  width: 15.5rem;
  height: 15vh;
  background-image: url(./images/projectp3.png);
  background-size: cover;
}

.projectCardImage3 {
  width: 15.5rem;
  height: 15vh;
  background-image: url(./images/tictactoe.png);
  background-size: cover;
}

.projectCardImage4 {
  width: 15.5rem;
  height: 15vh;
  background-image: url(./images/projectComingSoon.jpg);
  background-size: cover;
  filter: blur(5px);
}

.projectCardUp {
  background-color: rgb(76, 219, 100);
  width: 18rem;
  height: 20vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.projectCardUp1 {
  background-color: rgb(75, 173, 230);
  width: 18rem;
  height: 20vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.projectCardUp2 {
  background-color: rgb(231, 67, 67);
  width: 18rem;
  height: 20vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.projectCardUp3 {
  background-color: rgb(229, 245, 87);
  width: 18rem;
  height: 20vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.projectCardUp4 {
  background-color: rgb(241, 91, 255);
  width: 18rem;
  height: 20vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.portfolio h2 {
  margin: 1rem 0 1rem 10rem;
  color: #fff;
  font-size: 6rem;
}

.portfolio p {
  color: #fff;
  font-size: 1.5rem;
  width: 60vw;
  margin: 2rem 0 0 10rem;
}

.progressbar {
  width: 15rem;
  height: 15rem;
  background-color: #fff;
  margin: 1rem;
  border-radius: 2rem;
  box-shadow: 2rem 1rem #4b4b4b;
  transition: all ease-in-out 400ms;
  border: solid 1px #000;
}

.progressbar:hover {
  border: solid 8px #000;
}

.progress {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
}

.skills {
  background-color: #00321e;
  width: 100vw;
  height: 90vh;
}

.skillsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30vw;
}

.skills p {
  width: 35vw;
  color: #fff;
  font-size: 2rem;
  margin: 2rem 10rem 0rem 10rem;
}

.skills h1 {
  margin: 1rem 0rem 1rem 10rem;
}

.skills div h2 {
  color: #fff;
  margin-left: 2rem;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
}

.div {
  width: 250px;
  height: 250px;
  margin: 10px;
  background-color: #202020;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.box-header, .box-text {
  display: none;
}

/* Show header and text when box is big */
.div.big .box-header, .div.big .box-text {
  display: block;
}

.container2 div {
  display: flex;
  flex-direction: column;
}

.container2 div img {
  width: 250px;
  height: 250px;
  border-radius: 2rem;
}

.container2 div.big {
  width: 790px;
  height: 520px;
  box-shadow: 0 0 10px black;
  border: solid 4px white;
  position: absolute;
  z-index: 1;
}

.container2 div.big img {
  align-self: center;
}

.container2 div.big .box-header {
  order: 0;
}

.container2 div.big .box-text {
  order: 1;
}
